
.planetGifContainer {
  border: none !important;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0rem !important;
  cursor: default !important;
  justify-content: center;
  align-items: center;
  background-color: black !important;
}

.planetGif {
  margin: 0 0 0 0 !important;
  cursor: default;
  height: 100%;
  width: auto;
}