/* styles.module.css */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.formContainer {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}

.formContainer h2 {
    margin-bottom: 20px;
    color: #000;
}

.formContainer .formGroup {
    margin-bottom: 20px;
    margin: 2rem 0;
}

.formContainer label {
    display: block;
    font-weight: bold;
    margin-top: 0.5rem;
    color: #000;
}

.formContainer > div > input[type='text'],
.formContainer > div > input[type='number'],
.formContainer > div > input[type='date'] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.formContainer input[type='file'] {
    display: none;
}
.dateLabel {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 1rem;
    cursor: pointer;
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20fill%3D%22none%22%20viewBox%3D%220%200%2024%2024%22%20stroke-width%3D%221.5%22%20stroke%3D%22currentColor%22%20class%3D%22w-6%20h-6%22%3E%0A%20%20%3Cpath%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22M3%2016.5v2.25A2.25%202.25%200%200%200%205.25%2021h13.5A2.25%202.25%200%200%200%2021%2018.75V16.5m-13.5-9L12%203m0%200%204.5%204.5M12%203v13.5%22%20/%3E%0A%3C/svg%3E');
    background-repeat: no-repeat;
    background-position-x: calc(100% - 10px);
    background-position-y: center;
    background-size: 1.5rem;
}

.formContainer textarea {
    height: 100px;
}

.formContainer .buttonGroup {
    display: flex;
    justify-content: space-between;
}

.formContainer button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.formContainer button[type='submit'] {
    background-color: #007bff;
    color: white;
}

.formContainer button[type='submit']:hover {
    background-color: #0056b3;
}

.formContainer button[type='submit']:focus {
    outline: none;
}

.formContainer button[type='submit']:focus-visible {
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

.timePicker input {
     width: 4rem !important;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.formContainer select {
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="currentColor" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-repeat: no-repeat;
    background-position-x: calc(100% - 10px);
    background-position-y: center;
    padding-right: 30px;
    width: 100%;
}

.imagesInfo {
    margin-bottom: 20px;
}

.noImageText {
    color: #999;
}

.uploadedImagesText {
    color: #333;
    font-weight: bold;
}

.imageList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.imageItem {
    margin-bottom: 4px;
    font-size: 14px;
    color: #555;
}

.errorMessage {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
}