/* login.module.css */

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
.containerLogin {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.titleLogin {
    font-size: 24px;
    margin-bottom: 20px;
    color: #000;
}

.inputContainerLogin {
    margin-bottom: 20px;
}

.inputContainerLogin input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.buttonContainerLogin {
    display: flex;
    justify-content: space-between;
}

.importButtonLogin {
    background-color: #007bff;
    color: #fff;
}

.disconnectButtonLogin {
    background-color: #dc3545;
    color: #fff;
}

.createButtonLogin {
    background-color: #4caf50;
    color: #fff;
}

.errorMessage {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

.successfulMessage {
color: #000;
font-size: 14px;
margin-top: 5px;
margin-bottom: 5px;
}

.loginText {
    color: black;
    width: fit-content;
}

.displayWalletContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: calc(100% - 1rem);
    margin: 1rem 0.5rem;
}

.loadingWallet {
    font-weight: bold;
    display:inline-block;
    font-family: monospace;
    font-size: 30px;
    clip-path: inset(0 3ch 0 0);
    animation: walletLoading 2s steps(4) infinite;
}

@keyframes walletLoading {
    to {
      clip-path: inset(0 -1ch 0 0)
    }
  }