.planetBg {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.85);
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.planetContainer {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 90%;
  max-width: 650px;
  border-radius: 4px;
  border: solid 2px #007bff;
}


.planetContainer div {
  border-radius: 4px;
  border: solid 2px #007bff;
}

.planetContainer * {
  margin: 1rem;
}

.planetContainer p {
  word-wrap: break-word;
  white-space: normal;
}

.planetContainer {
  border: solid 2px #007bff;
  background-color: #131313;
}

.textName {
  font-size: large;
  font-weight: bold;
}

.text {
  font-size: medium;
  font-weight: bold;
}

.subtext {
  font-size: medium;
  font-weight: normal;
}
